# Watts Home credentials
WAHA_USER=your@email.com
WAHA_PASS=your-watts-home-password

# MQTT broker
WAHA_MQTT_BROKER=tcp://your-ha-ip:1883
WAHA_MQTT_USER=your-mqtt-username
WAHA_MQTT_PASS=your-mqtt-password
